# Environment: development, production
NODE_ENV=development

# Base Url
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# MongoDB URI
MONGODB_URI=your-mongodb-uri

# Better Auth Secret
BETTER_AUTH_SECRET=your-better-auth-secret

# Better Auth URL
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

# Gemini API Key
GEMINI_API_KEY=your-gemini-api-key

# Inngest Server in dev mode -> Don't use this is production
INNGEST_DEV=1

# NodeMailer Email
NODEMAILER_EMAIL=your-email-address-which-you-have-used-to-generated-app-password

# NodeMailer Password - Google App Password
NODEMAILER_PASSWORD=your-google-app-password

# Finnhub API Key
NEXT_PUBLIC_FINNHUB_API_KEY=your-finnhub-api-key